:root {
  --color-white: #e0ecf6;
  --color-black: #0d0337;
  --color-purple: #441160;
  --color-dark-blue: #35236f;
  --color-blue: #213db9;
  --color-gray: #bbb8cb;
  --color-orange: #ffa900;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  min-height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
  background: radial-gradient(
    circle,
    rgba(53, 35, 111, 1) 50%,
    rgba(68, 17, 96, 1) 100%,
    rgba(53, 35, 111, 1) 50%
  );
}

#photo_accueil {
  background-color: rgb(248, 248, 241);
  text-align: center;
  padding: 20px;
  margin: 100px;
}

#photo_accueil img {
  width: 100%;
  max-width: 800px;
  height: auto;
  border-radius: 12px;
}

#title_accueil {
  font-size: 1.6rem;
  margin: 20px 0;
  color: #333;
}

#btn-commencer {
  background-color: #d3ca16;
  color: white;
  border: none;
  border-radius: 8px;
  padding: 10px 20px;
  font-size: 1rem;
  cursor: pointer;
}

#btn-commencer:hover {
  background-color: rgb(126, 202, 127);
}

#question-image {
  display: block;
  width: 80%;
  margin: 16px auto 12px;
  border-radius: 12px;
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.25);
}

#countDown{
  padding: 10px 20px; 
  border: 3px solid yellow;    
  border-radius: 75%;
  color: yellow;
  display: inline-block;    
  background-color: rgb(25, 25, 105);
}

#progressBar{
 
color: #d3ca16;
padding: 20px;
border-color: #d3ca16;
height: 100px;width: 50%;
}